<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>  

  <title>IT-Billing Total Overview Dashboard</title>
</head>
<body>
  <header>
    <h1>IT-Billing Total Overview Dashboard</h1>
    <nav>
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">MSISDN Overview</a></li>
        <li><a href="#">SIM-CARD Overview</a></li>
        <li><a href="#">Scheduler Overview</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total MSISDNs</h5>
                <p class="card-text total-msisdn">0</p>
                <canvas id="total-msisdn-chart"></canvas>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Active SIM-Cards</h5>
                <p class="card-text">78,910</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Scheduled Tasks</h5>
                <p class="card-text">1,234</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Free Voice MSISDNs</h5>
                        <p class="card-text total-free-voice">0</p>
                        <div id="free-assigned-voice-chart" style="width: 250px; height: 250px;"></div>
                    </div>
                </div>
            </div>
        </div>
        
  </main>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
