body, html {
  height: 100%;
  margin: 0;
  
}
body {
  overflow-x: hidden;
}
#dashboard {
  min-height: 100%;
  background-color: #232c39;
  display: flex;
  justify-content: top;
  align-items: top;
  flex-direction: column;
}

#header {
  color: #ffffff; /* This sets the header text color to white */
  font-size: 3.8rem; /* Adjust the font size as needed */
  font-family: 'Bebas Neue'; /* Add this line */
  text-align: center;
  margin: 0;
}

.chart-container {
  height: 500px;
  margin-bottom: 20px;
  position: relative;
}


.chart-container2 {
  width: 50%; /* Adjust this value to change the chart size */
  margin: 15rem auto; /* Add this line to center the chart and give it some margin */
}

#content {
  display: flex;
}

#filters {
  width: 25%; /* Adjust this value to change the filters width */
  padding: 1rem;
  /* Add more styles for the filters container if needed */
}

#charts {
  width: 100%; /* Adjust this value to change the charts container width */
  display: flex;
  flex-direction: column; /* Add this line to stack charts vertically */
  align-items: flex-start; /* Change this line to move charts more to the left */
  padding: 0.01rem 8rem 8rem 40rem; /* Top Right Bottom Left padding values (Increase the left padding value) */
  gap: 5rem; /* Add this line to add some space between charts */
}

.chart-container {
  width: 50%; /* Adjust this value to change the chart size */
  margin: 1rem; /* Adjust this value to control the spacing around the chart container */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Add this line */
}



.chart-title {
  color: #ffffff; /* Adjust the title text color */
  font-size: 1.8rem; /* Adjust the font size */
  font-family: 'Bebas Neue'; /* Update the font-family */
  font-weight: 700; /* Add this line to use the bold font weight */
  text-align: center;
  position: absolute; /* Add this line */
  top: -3rem; /* Add this line */
  left: 11rem; /* Increase this value to move titles more to the right */
}

#data-table-container {
  width: 50%;
  overflow-x: auto;
  margin-left: 0.1rem;
  margin-right: auto;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

#data-table th,
#data-table td {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: left;
  color: #ffffff; /* Add this line to change the color of the data inside the rows */
}

#table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}


.table-title {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: 'Bebas Neue';
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem; /* Add this line to give some space between the title and the table */
  margin-left: -11rem; /* Add this line to move the table more to the left */
}


#data-table th {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

#data-table th[data-sortable]:hover {
  background-color: #555555;
}

.menu {
  background-color: #232c39;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: #cccccc;
}


#filter-container {
  display: none;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#filter-container select {
  background-color: #232c39;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  font-family: 'Bebas Neue', sans-serif;
}
